*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    display: grid;
    place-items: center;
    min-height: 90vh;
    background-color: rgb(255, 255, 255);
}

a, span, img{
    display: inline-block;
    text-decoration: none;
}

.container{
    width: 70%;
    max-width: 700px;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 6px 6px 5px 8px rgb(238, 237, 237);
    border-radius: 10px;
    transition: all 0.2s linear;
}

.container:hover{
    border-top: 8px solid rgb(26, 128, 26);
}

.header{
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    border-bottom: 4px solid rgb(46, 134, 46);
}

.header img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(46, 134, 46);
    object-fit: cover;
}


.img-span{
    font-size: 20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    
}

.main{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 290px;
}

.main a{
    color: rgb(21, 21, 21);
    width: 110px;
    height: 37px;
    border-radius: 18px;
    background-color: white;
    outline: 2px solid rgb(46, 134, 46);
    border: 3px solid white;
    text-align: center;
    padding-top: 5px;
}

.main a:hover{
    background-color: rgb(46, 134, 46);
    color: white;
    box-shadow: 3px 3px 5px;
}

#time{
    font-size: 32px;
    background: -webkit-linear-gradient(#516635, #367713);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
